<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asri</title>
</head>
<body style="background-color: aqua;">
    <h1>PENMU</h1>
    <img src="" alt="">

    <H4>pena miftahul ulum website</H4>
    <ul>
        <li><a href="{% url 'penmu' %}">artikel</a></li>
        <li><a href="penmu.html">opini</a></li>
        <li><a href="penmu.html">puisi</a></li>
        <li><a href="penmu.html">aboutme</a></li>
    </ul>
</body>
</html>