<!DOCTYPE html>
<html>
    <head>
        <title>latihan teks</title>
    </head>

    <body>
        <h1>artikel</h1>
        <h2>peristiwa legend</h2>

        {% load static %}
        <img src="{% static 'asri/images/abc.jpeg' %}" alt="Fotoku" width="10%">

        <p>Perang pecah antara Hamas dan Israel sejak 7 Oktober lalu.
             Ini menjadi eskalasi terbaru dari konflik antara Israel dan Palestina.<i>cerita</i>
             Kelompok Hamas yang menguasai Gaza meluncurkan serangan besar-besaran ke wilayah Israel
             Sabtu dua pekan lalu. Ini lalu dibalas Israel dengan deklarasi perang,
              di mana <cite>Tel Aviv menyerbu Gaza dari berbagai sisi.</cite></p>
            
    </body>