{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>penmu artikel</title>

        <link rel="stylesheet" type="text/css" href="{% static 'asri/css/styles.css' %}">
    </head>

    <body>
        <div class="container">
            <h1>puisi</h1>
            <h2>Saudara Jauh Tuhan</h2>
    
            <img src="{% static 'asri/images/puisi.jpg' %}" alt="Fotoku" width="10%">
    
            <p>  
               <cite>Oleh:Semesta putri</cite> 
                Jika disuruh menggambar luka,
                Maka ragaku yang tersketsa.
                Laut mungkin iri,
                Sebab dalam diam air mataku 
                Lebih membanjiri
                Awan perlahan meneduh
                Sebab langit masih kurengkuh
                Aku tidak benar rapuh
                Biarlah jika awang Kembali melepuh
                Tuhan tidak perlu dibisiki
                Manusia perlu disakiti
                Agar Ia tahu, Ia bukan Tuhan
                Bukan anak Tuhan
                Bukan saudara jauh Tuhan
                


            </p>
        </div> 
            
    </body>