<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rumahmakan</title>
</head>
<body>
   <h1>Rumah makan asri</h1>
    <p>rumah makan asri tersedia menu makanan yang lezat 1.ceker ngompol pedas 2.ayam pettok pedas 3.kepala penyek pedas minuman 1. es manisku 2. es teh toyota 3. es buah .</p>


    <h1 style="background-color:powderblue;">This is a heading</h1>
    <p style="background-color:tomato;">This is a paragraph.</p>
</body>
</html>