<!DOCTYPE html>
<html>
<head>
  <title>PENMU</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <h1>selamat datang</h1>
    <h2>di pena miftahul ulum </h2>
    <h3>selamat membaca</h3>
  </header>

  <nav>
    <body style="background-color: aqua;"></body>
    <ul>
        <li><a href="{% url 'penmu' %}">artikel</a></li>
        <li><a href="{% url 'opini' %}">opini</a></li>
        <li><a href="{% url 'puisi' %}">puisi</a></li>
        <li><a href="{% url 'aboutme' %}">aboutme</a></li>
    </ul>
  </nav>

  <section>
    <div class="artikel-container">
      {% for item in artikel %}
        <div class="artikel">
          <h3>{{ item.judul }}</h3>
          <p>{{ item.konten }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

  <footer>
    <p>terima kasih</p>
  </footer>
</body>
</html>
